
.product-card {
    padding: 16px;
    border-radius: 4px;
    border: none;
    transition: 0.2s ease-out;
}

.product-card:hover {
    transform: scale(1.025);
}

.product-card img {
    height: 180px;
    width: 180px;
    object-fit: contain;
    margin: auto;
    margin-bottom: 12px;
}

.product-card h6 {
    font-size: 16px;
    font-weight: 600;
}

.product-card p {
    font-size: 13px;
    margin: 0;
    color: rgba(0, 0, 0, 0.65);
}

.product-card .product-cost {
    font-size: 14px;
    margin-top: 4px;
    font-weight: 500;
}

.product-card .product-cost span {
    font-size: 14px;
    margin-top: 4px;
    font-weight: 600;
    color: rgb(16, 218, 16);
}