.orders-parent-div {
    padding: 10px 60px;
}

.orders-parent-div .card {
    padding: 16px;
    border-radius: 0;
}

.order-card {
    margin-bottom: 12px;
    border: 1px solid rgba(0, 0, 0, 0.15);
}

.order-card .row,
.order-card .col {
    margin: 0;
    padding: 0;
}

.order-details-row {
    margin-bottom: 4px;
    font-size: 14px;
}

.order-details-row .col-lg-6:nth-child(1) {
    display: flex;
    justify-content: flex-start;
    padding-left: 8px;
}

.order-details-row .col-lg-6:nth-child(2) {
    display: flex;
    justify-content: flex-end;
    padding-right: 8px;
    font-weight: 600;
}

.order-card-product-row,
.order-card-product-row .col-lg-9,
.order-card-product-row .col-lg-1 {
    padding: 0;
    margin: 0;
}

.order-card-product-row p {
    font-size: 14px;
}

.order-card-row .col-lg-6 {
    padding: 0;
}

.order-details-row .col-lg-6:nth-child(2) {
    padding: 0 !important;
}

.order-card-product-row .col-lg-6 {
    padding: 0;
}

.order-card-product-row p {
    margin-bottom: 4px;
}

@media screen and (max-width: 990px) {

    .hidden-md {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .hidden-sm {
        display: none;
    }

    .order-card-product-row .col-sm-3 {
        font-size: 12px;
    }
}

@media screen and (max-width : 576px) {
    .orders-parent-div {
        padding: 10px 20px;
    }

    .order-card-row .col-lg-6 {
        padding: 0 !important;
    }

    .order-details-row .col-lg-6:nth-child(1) {
        padding: 0 !important;
    }

    .order-details-row .col-lg-6:nth-child(2) {
        padding: 0 !important;
    }

    .order-details-row {
        font-size: 12px;
    }
}