.header-main-div {
    margin-bottom: 70px;
    width: 100%;
}

.header-parent-div {
    display: flex;
    width: 100%;
    margin: auto;
    height: 70px;
    background-color: #566fe0;
    justify-content: space-between;
    z-index: 9999;
    position: fixed;
    top: 0;
}

.header-logo-div {
    margin-left: 4%;
}

.header-logo-div img {
    height: 60px;
}

.header-links-main {
    margin-right: 60px;
}

.header-logo-div,
.header-links-main {
    display: flex;
    height: 70px;
    justify-content: center;
    align-items: center;
}

.link-div,
.category-div {
    margin: 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.link-div p,
.category-div p {
    transition: 0.1s ease-in;
    color: #fff;
    margin-bottom: 0 !important;
    margin-left: 8px;
}

.link-div:hover p,
.category-div:hover p,
.link-div:hover .link-icon {
    color: rgb(204, 200, 200) !important;
    cursor: pointer;
}

.category-div {
    height: 70px;
}

.link-div {
    transition: 0.2s ease-in;
}

.link-div.active,
.category-div.active p {
    color: #fff;
}

.link-icon {
    color: #fff;
    font-size: 20px;
    transition: 0.2s ease;
}

.links-dropdown {
    margin-top: -20px;
    opacity: 0;
    pointer-events: none;
    right: 170px;
    top: 0;
    position: absolute;
    background-color: #fff;
    transition: 0.4s ease-in-out;
    padding: 12px;
}

.category-div:hover .links-dropdown,
.links-dropdown:hover {
    margin-top: 6.5px;
    opacity: 1;
    top: 64px;
    pointer-events: all;
    right: 170px;
}

.dropdown-category {
    padding: 8px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

.header-search-bar {
    background-color: #fff;
    padding: 8px;
    width: 460px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 60px;
}

.header-search-bar .icon {
    font-size: 18px;
    color: rgba(0, 0, 0, 0.55);
}

.header-search-bar input {
    border: none !important;
    margin-left: 8px;
    width: 100%;
}

.header-search-bar input:focus {
    outline: none !important;
}

.link-div button {
    padding: 5px 36px;
    border: none;
    background-color: #fff;
    font-weight: 600;
    color: #566fe0;
}

@media screen and (max-width:990px) {

    .link-div,
    .category-div {
        width: 100%;
        padding: 6px;
    }

    .link-div p {
        display: none;
    }

    .header-search-bar {
        width: 360px;
    }
}

@media screen and (max-width: 722px) {
    .header-search-bar {
        width: 280px;
    }
}

@media screen and (max-width: 630px) {
    .header-search-bar {
        width: 200px;
    }

    .header-links-main {
        margin: 0;
    }
}

@media screen and (max-width: 576px) {
    .header-search-bar {
        display: none;
    }
}