.category-cards-parent-div {
    width: 100%;
    padding: 10px 120px;
    background-color: #fff;
    margin-bottom: 6px;
    z-index: -1;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

.category-cards-div {
    height: 105px;
    background-color: #fff;
    overflow-x: auto;
    display: flex;
    flex-wrap: nowrap !important;
    width: 100%;
    overflow: auto;
    align-items: center;
}

@media screen and (max-width: 990px) {
    .category-cards-parent-div {
        padding: 10px 0 10px 0px;
    }
}